<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
<br><br><br><br>
   
    
<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
  <div class="form-group">
<label for="name">
  nom de l'appareil
</label>
<input type="text" class="form-control btn-outline-light" id="name" name="name" ngModel required>
  </div>
<div class="form-group">
  <label for="status">
état de l'appareil
  </label>
  <select  id="status" class="form-control btn-outline-light" name="status" [ngModel]="defaultOnOff">
    <option value="éteint">Eteint</option>
    <option value="allumé">Allumé</option>
  </select>

</div>
<button class="btn btn-light m-auto d-block" type="submit" [disabled]="f.invalid">Enregister</button>
</form>

  </div>
  <div class="col-2"></div>
</div>