  <h3 id="demo">Mes appareils</h3>
 
  
    <app-appareil *ngFor="let appareil of appareils; let i =index" [appareilName]="appareil.name" 
    [appareilStatus]="appareil.status" [index]="i" [id]="appareil.id"></app-appareil>
    <blockquote class="blockquote">
      gftr vdfc vcrd  gbcf vcfd vcf dfr cfdr dfdres fdresv xfxsedsfd vfdxr vcxdsevx
      <footer class="blockquote-footer">this is a footer</footer>
    </blockquote>

  <br>
  

  


<br>

  <button class="btn btn-success"
         
          (click)="onAllumer()">Tout allumer</button>
<button class="btn btn-danger"
         
          (click)="onEteindre()">Tout éteindre</button>
