<nav  class="navbar navbar-default bg-light ">
  <div class="container-fluid">
  
      <ul class="list-inline ">
        <li class="list-inline-item" routerLinkActive="active"><a routerLink="auth" class="text-dark font-weight-bold">    Authentification</a></li>
        <li class=" list-inline-item " routerLinkActive="active"> <a routerLink="appareils" class=" text-dark font-weight-bold">Appareils</a></li>
        <li class=" list-inline-item " routerLinkActive="active"><a routerLink="edit">Nouvel appareil</a></li>
        <li   class=" list-inline-item " routerLinkActive="active"><a routerLink="users">Utilisateurs</a></li>

      </ul>

   
  </div>

</nav>



<div class="navbar-right">
  <p>Vous êtes connecté depuis {{ secondes }} secondes !</p>
</div>



<div class="container-fluid">
  
  <div class="row">
    <p id="demo">rrrrrrr</p>
    <div class="col-2"></div>
    <div class="col-8 text-center" >
<router-outlet></router-outlet>

</div>
   
<div class="col"> </div>
</div>
<div>
  <button class="btn btn-danger"  (click)="onClick()">alert</button>
  <button class="btn btn-dark"  (click)="onAlert()">sara</button>
<button (click)="onBulboff()">éteindre la lampe</button>
<img src="./assets/js/bulboff.jpg" alt="" id="myImage">
<button (click)="onBulbon()">allumer la lampe</button>

</div>