/* You can add global styles to this file, and also import other style files */
.btn-light{
    background-color: rgb(160, 77, 153);
    border-color:  rgb(160, 77, 153);
    color: white
}
.btn-outline-light{
    border-color: rgb(160, 77, 153);
    color:  rgb(160, 77, 153);
    
}
.btn-outline-light:hover{
    background-color: rgb(160, 77, 153);
    color:  white

}

.bg-purple{
    background-color: rgb(221, 175, 207)
}