<form class=" was-validated"  >
    <div class="form-group">
<label for="email" class="mr-sm-2">Email:</label>
<input type="email" id="email" name="email"  class="form-control btn-outline-light mr-sm-2 mb-2" placeholder="Email" required ngModel>
  <div class="valid-feedback">email valide</div>
  <div class="invalid-feedback">veuillez remplir ce champ</div>

</div>

    <div class="form-group">

        <label for="password"class="mr-sm-2">Mot de passe</label>
        <input type="password" name="password" id="password" ngModel class="form-control btn-outline-light mr-sm-2 mb-2" placeholder="Password" required>
<div class="valid-feedback"> mot de passe valide</div>
<div class="invalid-feedback"> veuillez remplir ce champ</div>
<div></div>
    </div>
    <div class="form-group form-check">
        <label for="rememberMe "class="form-check-label mr-sm-2">  
           <input type="checkbox" class="form-check-input mr-sm-2 mb-2" name="rememberMe" id="rememberMe" ngModel required>
           Remember me
           <div class="valid-feedback"valide>valid</div>
           <div class="invalid-feedback">veuillez cocher pour continuer</div>
        </label>

    </div>
    <button class="btn btn-light m-auto d-block " >Me connecter</button>
</form> 












<button class="btn btn-success" *ngIf="!authStatus " (click)="onSignIn()">se connecter</button>
<button class="btn btn-danger"   *ngIf="authStatus" (click)="onSignOut()">se déconnecter</button>