<!-- <ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users">
    <h3>{{user.firstName}} {{user.lastName}}</h3>
    <h4>{{user.email}}</h4>
    <p>cette personne préfere le <mark>{{user.drinkPreference}}</mark></p>
    <div *ngIf="user.hobbies && user.hobbies.length>0">
      <ul class="list-inline">cette personnes à des loisirs: 
         <li class="list-inline-item" *ngFor="let hobby of user.hobbies"><mark>{{hobby}}</mark></li>
        </ul>
      </div>


  </li>
  <a routerLink="/newuser">nouvel utilisatuer</a>
</ul> -->


<!-- <a routerLink="/newuser">nouvel utilisatuer</a>
<div class="row " >
<div class="card-deck col-4 bg-info " *ngFor="let user of users">
  
    <img src="../assets/profil.jpg" alt="image card" class="card-img-top">
    
    <div class="card-body">
        <h4 class="card-title"><h3 class="text-break">{{user.firstName}} {{user.lastName}}</h3></h4>
        <h4>{{user.email}}</h4>
    <p>cette personne préfere le <mark>{{user.drinkPreference}}</mark></p>
    <div *ngIf="user.hobbies && user.hobbies.length>0">
      <ul class="list-inline">cette personnes à des loisirs: 
         <li class="list-inline-item" *ngFor="let hobby of user.hobbies"><mark>{{hobby}}</mark></li>
        </ul>
      </div>
      </div>
  
   
  
  
  </div>
</div> -->

<br><br><br><br><br><br><br><br><br>
<a routerLink="/newuser" class="btn btn-light m-auto d-block text-light rounded-circle">ajouter utilisateur  
  <span class="badge badge-pill badge-light"><i class="fas fa-plus"></i></span>
</a>
<div id="accordion">
  <div *ngFor="let user of users" class="list-group-item">
    <div class=" btn-outline-light row list-group-item  " >
      <a [href]="diese+user.firstName" class="text-reset" data-toggle="collapse">{{user.firstName}} {{user.lastName}} </a>
    </div>
    <div  [id]="user.firstName" class="collapse show row" data-parent="#accordion"> 
      <div class="col-2 text-center">
        
        <img  class ="img-fluid "src="../assets/profil.jpg" alt="Card image" style="height: 100%;width:100%; margin-top:10%;margin-bottom: 10% ">
        
         
           
        </div>
    
      <div class="col-10 ">
        <h4>{{user.email}}</h4>
    <p>cette personne préfere le <mark>{{user.drinkPreference}}</mark></p>
    <div *ngIf="user.hobbies && user.hobbies.length>0">
      <ul class="list-inline">cette personnes à des loisirs: 
         <li class="list-inline-item" *ngFor="let hobby of user.hobbies"><mark>{{hobby}}</mark></li>
        </ul>
      </div>
      </div>
    </div>

  </div>

</div>



<!-- <div class="card-columns ">
  <div class="card bg-warning"  *ngFor="let user of users">
      <img src="../assets/profil.jpg" alt="image card" class="card-img-top">

    <div class="card-body">
        <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link stretched-link">see profile</a>
    </div>
  </div>
  

</div> -->

