<div class="col-8">
  <form [formGroup]="userForm" (ngSubmit)=" onSubmit()">
    <div class="form-group">
      <label for="firstName">nom</label>
  <input type="text" formControlName="firstName" id="firstName" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastName ">Prenom</label>
      <input type="text" formControlName="lastName" id="lastName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" id="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="drinkPreference">quelle boisson préferez vous</label>
      <select formControlName="drinkPreference" id="drinkPreference" class="form-control" required>
        <option value="jusd\'orange'">Jus d'ornage</option>
        <option value="jus de mangue">Jus de mangue</option>
      </select>
    </div>
    <div formArrayName="hobbies">
      <h3>Vos hobbies</h3>
      <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i = index">
        <input type="text" class="form-control" [formControlName]="i">
      </div>
      <button type="button" class="btn btn-success" (click)="onAddHobby()">Ajouter un hobby</button>
</div>
<button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Soumettre</button>

  </form>
</div>