<li [ngClass]="{'list-group-item':true,
'list-group-item-danger':appareilStatus==='éteint',
'list-group-item-success':appareilStatus==='allumé'}">
  <div style="width: 20px;height:20px;background-color:red;" *ngIf="appareilStatus==='éteint'"></div>
  <h3 [ngStyle]="{color:getColor()}">Appareil:{{appareilName}}-- status:{{ getStatus()}}</h3>
  <input type="text" [(ngModel)]="appareilName" class="form-control">
  <code><a [routerLink]="[id]">Détails</a></code><br>
<button class="btn btn-success"(click)="onAllumer()">allumer</button>
<button class="btn btn-danger"(click)="onEteindre()">éteindre</button>
<button (click)="delette()">supprimer</button>


</li>