
<nav class="navbar  nav-tabs">
<div class=" btn-group border-0">
  <div class="btn-group-vertical border-0">
    <button class="navbar-toggler btn-outline-light border-0 " type="button" data-toggle="dropdown">
        <i class="fas fa-bars"></i>
      </button>
      <div class="dropdown-menu " style="height: 600px;">
        
          <a class="dropdown-item  " routerLink="edit">ajouter appareil</a>
          <div class="dropdown-menu " style="height: 600px;">
        
              <a class="dropdown-item  " routerLink="edit">ajouter appareil</a>
              <a class="dropdown-item" routerLink="apareils"> liste de mes appareils</a>
          
            
          </div>

          <a class="dropdown-item" routerLink="apareils"> liste de mes appareils</a>
      
        
      </div>
      <div class="dropdown-menu " style="height: 600px;">
        
          <a class="dropdown-item  " routerLink="edit">ajouter appareil</a>
          <a class="dropdown-item" routerLink="apareils"> liste de mes appareils</a>
      
        
      </div>
    
    
    </div>
  <a class="btn btn-outline-light font-weight-bold border-0" routerLink="auth">authentification</a>

  <div class="btn-group " >

  <button class="btn btn-light dropdown-toggle font-weight-bold border-0" data-toggle="dropdown"> appareils</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="edit">ajouter appareil</a>
    <a class="dropdown-item" routerLink="apareils"> liste de mes appareils</a>

  
</div>
  </div>
  <div class="btn-group " >

      <button class="btn btn-light dropdown-toggle font-weight-bold border-0" data-toggle="dropdown"> utilisateurs</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="newuser">ajouter utilisateurs</a>
        <a class="dropdown-item" routerLink="users"> liste d'utilisateurs</a>
    
      
    </div>
      </div>
      <button class=" btn-light font-weight-bold border-0" ><form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="rechercher...">
        <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
      </form></button>

</div>

<div class="float-right btn btn-light font-weight-bold border-0">connecté depuis
  <span class="badge badge-light"> {{secondes}}</span>
</div>
</nav>
  
 
  
  
<div class="jumbotron-fluid">
    <div class="row">
      <div class="col-1">
          <div class="collapse bg-warning" id="collapsibleNavbar" style="width: 10%;">
              <ul class="navbar-nav flex-column ">
                <li class="nav-item">
                    <div class="btn-group-vertical " >
          
                        <a    class="btn btn-light dropdown-toggle font-weight-bold" data-toggle="dropdown"> utilisateurs</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item"data-toggle="collapse" routerLink="newuser">ajouter utilisateurs</a>
                          <a class="dropdown-item"  routerLink="users"> liste d'utilisateurs</a>
                          
                      
                        
                      </div>
                        </div>
                 
                </li>
                <li class="nav-item">
                    <div class="btn-group" >
          
                        <a   class="btn btn-light dropdown-toggle font-weight-bold" data-toggle="dropdown"> appareils</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" routerLink="edit" >ajouter appareil</a>
                          <a class="dropdown-item" routerLink="apareils"> liste de mes appareils</a>
                      
                        
                      </div>
                        </div>
                </li>
                 
              </ul>
            </div>  
          
      </div>
      <div class="col-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col"></div>

    </div>
  </div>