<br><br>
 <a routerLink="/edit" class=" btn btn-outline-light rounded-circle m-auto d-block">ajouter un appreil
   <span class="badge badge-pill badge-light "><i class="fas fa-plus"></i></span>
 </a>
<br><br><br>
<h3>mes Appareils</h3>
        <h6>mis à jour:{{lastUpdate|async|date:'yMMMMEEEEd'|uppercase}}</h6>
        <ul class="list-group">
          
          <app-appareil *ngFor="let appareil of appareils; let i =index " 
          [appareilStatus]="appareil.appareilStatus"
           [appareilName]="appareil.appareilName"
           [index]="i"
           [id]="appareil.id"
           ></app-appareil>
        </ul>
        <button class="btn btn-success" [disabled]="!isAuth"
        (click)="onAllumer()"
        >tout allumer</button>
        <button class="btn btn-danger" [disabled]="!isAuth" (click)="onEteindre()">tous éteindre</button>
        <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Dropdown button
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </div>